extends traditional-template-layout.jade
include _includes/trad-template/trad-educationLogic
include _includes/trad-template/trad-appointmentLogic
include _includes/trad-template/trad-pubLogic
include _includes/trad-template/trad-presLogic
include _includes/trad-template/trad-serviceLogic

block content
  #banner.page-header
    .row
      .col-lg-6
        h2 

  .row
    .col-xs-12.col-sm-3
    
    .col-xs-12.col-sm-9
      img(src="#{cv.general.picture}").profile
      h2.name-header
        a(href="") #{cv.general.given} #{cv.general.family}
      p.address #{cv.general.location.address1}
      p.address #{cv.general.location.city}, #{cv.general.location.state} #{cv.general.location.postalCode}
      p.email #{cv.general.email}
  
  hr

  +educationOutput

  +apptOutput

  +pubOutput

  +presOutput

  +serviceOutput

  .row
    .col-xs-12.col-sm-3
      h3.left-heading Grants
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li Code work: Exploring Digital Studies through code. Institute for Advanced Study: Research and Creative Collaborative, University of Minnesota. 2014–15. [Funded: $10,000]
        li Community Projects Award: NDSU Office of the President. Sugar on a Stick: Es [Funded: $20,000]
      hr

  .row
    .col-xs-12.col-sm-3
      h3.left-heading Awards / Fellowships
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li 
          a(href="http://clindgrencv.com/rsa14.html") 2014 RSA Social Media Fellowship
        li Summer 2014 James I. Brown Research Fellowship. University of Minnesota: Writing Studies.
        li Spring 2014 Medtronic/Industrial Affiliates Program Fellowship. University of Minnesota: Writing Studies and Medtronic.
        li Spring 2013 James I. Brown Fellowship. University of Minnesota: Writing Studies.
      hr

  .row
    .col-xs-12.col-sm-3
      h3.left-heading Affiliations
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li Rhetoric Society of America
        li NCTE
        li Association of Teachers of Technical Writing
        li HASTAC Scholar
      hr

  .row
    .col-xs-12.col-sm-3
      h3.left-heading Languages
    
    .col-xs-12.col-sm-9

  .row.inner-rows
    .col-xs-12.col-sm-3
      h4.left-subheading human
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li Mandarin (2 years of coursework)

  .row.inner-rows
    .col-xs-12.col-sm-3
      h4.left-subheading human / machine
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li HTML5/CSS3 (Advanced)
        li Javascript/jQuery (Intermediate)
        li Node.js (Novice)
        li Python (Intermediate)
        li PHP (Novice)
        li Java (Novice)
      hr

  .row
    .col-xs-12.col-sm-3
      h3.left-heading Technical Proficiencies
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li <b>Audio</b>: Ableton live, Adobe Audition, Audacity, MLRV
        li <b>Video</b>: Novacut, Kdenlive, iMovie, Modul8
        li <b>Graphic/Image</b>: Adobe InDesign, Photoshop, Fireworks; Kira, Inkscape
        li <b>Office Suites</b>: Microsoft, LibreOffice
        li <b>Course Management</b>: Blackboard, Moodle, also Wordpress as a LMS
        li <b>Version Control</b>: Github, FTP
      hr