extends traditional-template-layout.jade
include _includes/trad-template/trad-educationLogic
include _includes/trad-template/trad-appointmentLogic
include _includes/trad-template/trad-pubLogic
include _includes/trad-template/trad-presLogic

block content
  #banner.page-header
    .row
      .col-lg-6
        h2 

  .row
    .col-xs-12.col-sm-3
    
    .col-xs-12.col-sm-9
      img(src="#{cv.general.picture}").profile
      h2.name-header
        a(href="") #{cv.general.given} #{cv.general.family}
      p.address #{cv.general.location.address1}
      p.address #{cv.general.location.city}, #{cv.general.location.state} #{cv.general.location.postalCode}
      p.email #{cv.general.email}
  
  hr

  +educationOutput

  +apptOutput

  +pubOutput

  +presOutput

  .row
    .col-xs-12.col-sm-3
      h3.left-heading Service
    
    .col-xs-12.col-sm-9

  .row.inner-rows
    .col-xs-12.col-sm-3
      h4.left-subheading journal / editorial
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li Reviewer, International Journal of SocioTechnology and Knowledge Development.
        li Reviewer, Written Communication.
        li Associate Editor. Itineration: Cross-Disciplinary Studies in Rhetoric, Media, & Culture. Fall 2012-present.
        li Web Developer. Itineration: Cross-Disciplinary Studies in Rhetoric, Media, & Culture. Spring 2013.

  .row.inner-rows
    .col-xs-12.col-sm-3
      h4.left-subheading workshop / groups
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li (Feb-Mar 2014). 'Genderswapping' or 'misgendering'? A question of 'Jailbreaking the Patriarchy'. Critical Code Studies Working Group (discussion thread leader). The Humanities and Critical Code Studies Lab, University of Southern California.
        li (Feb-Mar 2012). Critical Code Studies Working Group (participant). The Humanities and Critical Code Studies Lab, University of Southern California.
        li Lindgren, Chris and Rebecca Hayes. (October 2011). Seeing and constructing visual arguments in online spaces. Innovation in the Composition Classroom: Ways to Incorporate Digital Tools. North Dakota State University.
        li (Fall 2011). The GeoProfile Project: Stories cutting across maps. English Department Teachers Orientation Workshop. North Dakota State University. //invited
        li (Fall 2010). Online writing spaces with Weebly.com. English Department Technologies Workshop, North Dakota State University. <em>//invited</em>

  .row.inner-rows
    .col-xs-12.col-sm-3
      h4.left-subheading committees
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li Convener. Code work: Exploring Digital Studies through code. Institute for Advanced Study: Research and Creative Collaborative, University of Minnesota. 2014–15. //invited
        li Student Representative to the Director of Graduate Studies. Writing Studies Department, University of Minnesota. Spring 2013-May 2014 //nominated and voted as student body representative
        li Host. Writing Studies Department: Visit Day, University of Minnesota. Spring 2013.
        li Planning Committee. Improving the Graduate Program's Web Presence, University of Minnesota. Spring 2013. //invited
        li Planning Committee. Great Plains Alliance for Computers and Writing, University of Minnesota. Spring 2013-Fall 2013.
        li Representative MA Student. English Department External Advisory Board Meeting, North Dakota State University. Spring 2012. <em>//invited</em>
        li Sugar-Team Lead. Sugar Labs @ NDSU, North Dakota State University. Fall 2011-Spring 2012.
        li Organizer and Presenter. Software Freedom Day. North Dakota State University, English and Computer Science Departments. September 2011.
        li Organizer, STEM/Red River Valley Writing Project, North Dakota State University, English Education. Fall 2010.
        li Planning Committee, Red River Graduate Student Conference, North Dakota State University, English Department. Fall 2009-Spring 2010.
      hr

  .row
    .col-xs-12.col-sm-3
      h3.left-heading Grants
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li Code work: Exploring Digital Studies through code. Institute for Advanced Study: Research and Creative Collaborative, University of Minnesota. 2014–15. [Funded: $10,000]
        li Community Projects Award: NDSU Office of the President. Sugar on a Stick: Es [Funded: $20,000]
      hr

  .row
    .col-xs-12.col-sm-3
      h3.left-heading Awards / Fellowships
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li 
          a(href="http://clindgrencv.com/rsa14.html") 2014 RSA Social Media Fellowship
        li Summer 2014 James I. Brown Research Fellowship. University of Minnesota: Writing Studies.
        li Spring 2014 Medtronic/Industrial Affiliates Program Fellowship. University of Minnesota: Writing Studies and Medtronic.
        li Spring 2013 James I. Brown Fellowship. University of Minnesota: Writing Studies.
      hr

  .row
    .col-xs-12.col-sm-3
      h3.left-heading Affiliations
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li Rhetoric Society of America
        li NCTE
        li Association of Teachers of Technical Writing
        li HASTAC Scholar
      hr

  .row
    .col-xs-12.col-sm-3
      h3.left-heading Languages
    
    .col-xs-12.col-sm-9

  .row.inner-rows
    .col-xs-12.col-sm-3
      h4.left-subheading human
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li Mandarin (2 years of coursework)

  .row.inner-rows
    .col-xs-12.col-sm-3
      h4.left-subheading human / machine
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li HTML5/CSS3 (Advanced)
        li Javascript/jQuery (Intermediate)
        li Node.js (Novice)
        li Python (Intermediate)
        li PHP (Novice)
        li Java (Novice)
      hr

  .row
    .col-xs-12.col-sm-3
      h3.left-heading Technical Proficiencies
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li <b>Audio</b>: Ableton live, Adobe Audition, Audacity, MLRV
        li <b>Video</b>: Novacut, Kdenlive, iMovie, Modul8
        li <b>Graphic/Image</b>: Adobe InDesign, Photoshop, Fireworks; Kira, Inkscape
        li <b>Office Suites</b>: Microsoft, LibreOffice
        li <b>Course Management</b>: Blackboard, Moodle, also Wordpress as a LMS
        li <b>Version Control</b>: Github, FTP
      hr