extends traditional-template-layout.jade
include _includes/trad-template/trad-educationLogic
include _includes/trad-template/trad-appointmentLogic
include _includes/trad-template/trad-pubLogic
include _includes/trad-template/trad-presLogic
include _includes/trad-template/trad-serviceLogic
include _includes/trad-template/trad-grantsLogic
include _includes/trad-template/trad-awardsLogic
include _includes/trad-template/trad-affiliationLogic
include _includes/trad-template/trad-langLogic

block content
  #banner.page-header
    .row
      .col-lg-6
        h2 

  .row
    .col-xs-12.col-sm-3
    
    .col-xs-12.col-sm-9
      img(src="#{cv.general.picture}").profile
      h2.name-header
        a(href="") #{cv.general.given} #{cv.general.family}
      p.address #{cv.general.location.address1}
      p.address #{cv.general.location.city}, #{cv.general.location.state} #{cv.general.location.postalCode}
      p.email #{cv.general.email}
  
  hr

  +educationOutput

  +apptOutput

  +pubOutput

  +presOutput

  +serviceOutput

  +grantOutput

  +awardsOutput

  +affilOutput

  +languagesOutput

  .row
    .col-xs-12.col-sm-3
      h3.left-heading Technical Proficiencies
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li <b>Audio</b>: Ableton live, Adobe Audition, Audacity, MLRV
        li <b>Video</b>: Novacut, Kdenlive, iMovie, Modul8
        li <b>Graphic/Image</b>: Adobe InDesign, Photoshop, Fireworks; Kira, Inkscape
        li <b>Office Suites</b>: Microsoft, LibreOffice
        li <b>Course Management</b>: Blackboard, Moodle, also Wordpress as a LMS
        li <b>Version Control</b>: Github, FTP
      hr