extends dropdown-template-layout
include _includes/educationLogic
include _includes/appointmentLogic
include _includes/publicationLogic
include _includes/presentationLogic
include _includes/serviceLogic
include _includes/grantsLogic
include _includes/awardsLogic

block content
  #banner.page-header
    .row
      .col-lg-6
        h1

  .row
    .col-xs-12.col-sm-3
      img(src="#{cv.general.picture}").profile
      h4
        a(href="") #{cv.general.fname} #{cv.general.lname}
      p.address #{cv.general.location.address1}
      p.address #{cv.general.location.city}, #{cv.general.location.state} #{cv.general.location.postalCode}
      p.email #{cv.general.email}
    
    .col-xs-12.col-sm-9
      if cv.education
        #my-edu-cred
          h2.word.education Education
          #my-edu-cred-child1
            +educationOutput

      if cv.appointments
        #my-appts-cred
          h2.word.appointments Appointments
          #my-appts-cred-child1
            +apptOutput

      if cv.publications
        #my-pubs-cred
          h2.word.publications Publications
          +pubOutput

      if cv.presentations
        #my-pres-cred
          h2.word.presentations Presentations
          +presOutput

      if cv.service
        #my-service-cred
          h2.word.service Service
          +serviceOutput

      if cv.grants
        #my-grants-cred
          h2.word.grants Grants
          +grantsOutput

      if cv.awards
        #my-awards-cred
          h2.word.awards Awards
          +awardsOutput