mixin presOutput
  -var auth="author",ld="leader"

  if cv.presentations.conference
    #my-pres-cred-child1
      h3.inner-span conference
      #conf-pres-child
        ul.striped
          each p in cv.presentations.conference
            if p.authors
              li
                -var author = authorBuilder(p.authors,auth)
                | #{author}
                if p.date
                  | (#{p.date}). 
                  -if (p.assets.exists === true) {
                    a(href=p.assets.presLink) #{p.title}. 
                  -}
                  -else if (p.assets.exists === false) {
                    | #{p.title}. 
                  -}
                  cite #{p.conference}. 
                  | #{p.location.city}, #{p.location.state}. 
                -if (p.invited === true) {
                  em //invited
                -}

  if cv.presentations.workshop
    #my-pres-cred-child2
      h3.inner-span workshops
      #workshops-pres-child
        ul.striped
          each w in cv.presentations.workshop
            if w.date
              li
                | (#{w.date}). 
                if w.role
                  em #{w.role} 
                if w.leaders
                  -var leader = authorBuilder(w.leaders,ld)
                  | in #{leader}
                -if (w.assets.exists === true) {
                  a(href=w.assets.presLink) #{w.title}. 
                -}
                -else if (w.assets.exists === false) {
                  | #{w.title}. 
                -}
                cite #{w.workshop}. 
                | #{w.location.city}, #{w.location.state}. 
                -if (w.invited === true) {
                  em //invited
                -}

  if cv.presentations.department
    #my-pres-cred-child3
      h3.inner-span department
      #dept-pres-child
        ul.striped
          each d in cv.presentations.department
            if d.authors
              li
                -var auth="author"
                -var author = authorBuilder(d.authors,auth)
                | #{author}
                if d.date
                  | (#{d.date}). 
                  -if (d.assets.exists === true) {
                    a(href=d.assets.presLink) #{d.title}. 
                  -}
                  -else if (d.assets.exists === false) {
                    | #{d.title}. 
                  -}
                  cite #{d.event}. 
                  | #{d.location.city}, #{d.location.state}. 
                -if (d.invited === true) {
                  em //invited
                -}