mixin serviceOutputs

  if cv.service.editorial
    #my-pres-cred-child1
      h3.inner-span journal/editorial
      #conf-pres-child
        ul.striped
          each e in cv.service.editorial
            if e.role
              li
                | #{e.role}, 
                cite #{e.journal}.

  if cv.service.committees
    #my-pres-cred-child1
      h3.inner-span committees
      #conf-pres-child
        ul.striped
          each c in cv.service.committees
            if c.role
              li
                | #{c.role}. (
                | #{c.semesters}
                | ). #{c.organization}. 
                cite #{c.university}. 
                -if (c.invited === true) {
                  em //invited
                -}