mixin grantOutput
  -var granteeCheck="grantee"

  if cv.grants
    .row
      .col-xs-12.col-sm-3
        h2.left-heading Grants

      .col-xs-12.col-sm-9

  if cv.grants
    each g in cv.grants
      .row.inner-rows
        .col-xs-12.col-sm-3
          if g.amount
            h4.left-subheading Funded $#{g.amount}

        .col-xs-12.col-sm-9
          ul.cvline.right-sub-list-item
            if g.name
              li
                -var grantees = authorBuilder(g.grantees,granteeCheck)
                | #{grantees}
                | #{g.name}. 
                -if (g.sponsor.subExists === true) {
                  em #{g.sponsor.subordinate}, 
                  | #{g.sponsor.principal}. 
                -}
                -else if (g.sponsor.subExists === false) {
                  em #{g.sponsor.principal}. 
                -}
                | #{g.startDate} - #{g.startDate}.
      hr