mixin educationOutput

  if cv.education
    .row
      .col-xs-12.col-sm-3
        h2.left-heading Education
  
  if cv.education.phd
    .row.inner-rows
      .col-xs-12.col-sm-3
        h4.left-subheading Ph.D.

      .col-xs-12.col-sm-9
        ul.cvline.right-sub-list-item
          li 
            | #{cv.education.phd.degree} #{cv.education.phd.title} in 
            a(href='/') 
              | #{cv.education.phd.program}
            | , #{cv.education.phd.institution}, 
            | #{cv.education.phd.endDate} 
            -if (cv.education.phd.committee.hasCommittee === true){
              li Thesis: #{cv.education.phd.thesisTitle}
              ul.indent-margin-fix
                li Advisor: 
                  a(href='/') #{cv.education.phd.committee.advisor}
                li Member: 
                  a(href='/') #{cv.education.phd.committee.member1}
                li Member: 
                  a(href='/') #{cv.education.phd.committee.member2}
                li Outside Member: 
                  a(href='/') #{cv.education.phd.committee.outside}
            -}
            -else {
              li Advisor:&nbsp; 
                a(href='/') #{cv.education.phd.committee.advisor}
            -}

  if cv.education.masters
    .row.inner-rows
      .col-xs-12.col-sm-3
        h4.left-subheading Master's

      .col-xs-12.col-sm-9
        ul.cvline.right-sub-list-item
          li 
            | #{cv.education.masters.degree} in 
            a(href='/') 
              | #{cv.education.masters.program}

          -if (cv.education.masters.committee.hasCommittee === true){
            li 
              a(href='/') #{cv.education.masters.institution}
              | , #{cv.education.masters.endDate} 
            li Thesis: #{cv.education.masters.thesisTitle}
            li Committee:
            ul.indent-margin-fix
              li Advisor: 
                a(href='/') #{cv.education.masters.committee.advisor}
              li Member: 
                a(href='/') #{cv.education.masters.committee.member1}
              li Member: 
                a(href='/') #{cv.education.masters.committee.member2}
              li Outside Member: 
                a(href='/') #{cv.education.masters.committee.outside}
          -}
          -else{
            li 
              a(href='#{cv.education.masters.programURL}') #{cv.education.masters.institution}
            li Advisor:&nbsp; 
              a(href='/') #{cv.education.masters.committee.advisor}
          -}

  if cv.education.undergrad
    .row.inner-rows
      .col-xs-12.col-sm-3
        h4.left-subheading Bachelor's

      .col-xs-12.col-sm-9
        ul.cvline.right-sub-list-item
          li #{cv.education.undergrad.degree} in #{cv.education.undergrad.program}
          li 
            a(href='/') #{cv.education.undergrad.institution}
            | , #{cv.education.undergrad.endDate}
          li Advisor: 
              a(href='/') #{cv.education.undergrad.advisor}

  -if (typeof cv.service !== "undefined") {
    hr
  -}